body {
  width: 100%; }

header {
  background-color: #d9c4cd !important; }

section.space {
  padding-bottom: 3rem; }

.text-space {
  padding-bottom: 1.5rem; }

.textMuted {
  color: #ffffff !important; }

.logo {
  width: 100px;
  height: 100px; }

.navbar-dark .navbar-toggler {
  color: #b73066;
  border-color: #b73066; }

div.carousel-inner .carousel-item {
  height: 40rem; }

div.carousel-inner .carousel1 {
  background-image: url("../img/amarillos.jpg");
  background-position: center center;
  background-size: cover; }

div.carousel-inner .carousel2 {
  background-image: url("../img/ank.jpg");
  background-position: center center;
  background-size: cover; }

div.carousel-inner .carousel3 {
  background-image: url("../img/collar.jpg");
  background-position: center center;
  background-size: cover; }

.home-demo {
  padding: 2rem 0; }

.card {
  margin-top: 2rem; }

.cardsspace {
  justify-content: space-evenly; }

.card-body {
  display: flex;
  justify-content: space-between;
  justify-content: center; }

.card-img-top {
  width: 286px;
  height: 215.05px; }

.section {
  padding-top: 3rem;
  justify-content: space-between; }

.header {
  color: #b73066;
  font-size: 27px;
  padding: 10px; }

.bigicon {
  font-size: 35px;
  color: #b73066; }

.button {
  background-color: #b73066;
  color: #fff; }

.button:hover {
  color: #fff;
  background: linear-gradient(#b73066, #662775);
  border-color: #b73066; }

form fieldset div.row {
  padding-bottom: 2rem; }

#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0; }

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0; }

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0; }

#footer .social-links {
  margin: 0 0 40px 0; }

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #b73066;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s; }

#footer .social-links a:hover {
  background: linear-gradient(to left, #b73066, #662775);
  color: #ffffff;
  text-decoration: none; }

#footer .copyright {
  margin: 0 0 5px 0; }

#footer .credits {
  font-size: 13px; }
