body {
  width: 100%;
}

header {
  background-color: #d9c4cd !important;
}

.logo {
  width: 100px;
  height: 100px;
}


i.buttonNav {
  color: #b73066;

}

.navbar-dark .navbar-toggler {
  color: #b73066;
  border-color: #b73066;
}

.card {
  margin-top: 2rem;
}

.cardsspace {
  justify-content: space-evenly;
}

.card-body {
  display: flex;
  justify-content: space-between;
  justify-content: center;

}

.card-img-top {
  width: 286px;
  height: 215.05px;
}

.section {
  padding-top: 3rem;
  justify-content: space-between;
}
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0; }

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0; }

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0; }

#footer .social-links {
  margin: 0 0 40px 0; }

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #b73066;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s; }

#footer .social-links a:hover {
  background: linear-gradient(to left, #b73066, #662775);
  color: #ffffff;
  text-decoration: none; }

#footer .copyright {
  margin: 0 0 5px 0; }

#footer .credits {
  font-size: 13px; }

