<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="../img/icon.png" rel="icon" type="image/x-icon"/>

    <link rel='stylesheet' href='../css/gallery.css' type='text/css'/>
    <script type='text/javascript' src='../vendors/unitegallery/js/unitegallery.min.js'></script>

    <link rel='stylesheet' href='../vendors/unitegallery/css/unite-gallery.css' type='text/css'/>

    <script type='text/javascript' src='../vendors/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

    <script src="../js/galeria.js"></script>
    <link href="../css/styles.css" rel="stylesheet">

    <title>AnnK creations</title>
</head>
<body>
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Nosotros</h4>
                    <p class="textMuted">Comenzamos hace 4 años nuestro sueño de hacer felices a las personas con
                        pequeños detalles y asi hacer realidad sus sueños.
                        <a href="#">  continuar leyendo</a>
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contactos</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/annkorret/" class="text-white">Siguenos en Instagram</a>
                        </li>
                        <li><a href="https://www.facebook.com/annkcreation00" class="text-white">Danos un Like en
                            Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="../index.html" class="navbar-brand d-flex align-items-center">
                <img src="../img/logo.png" class="logo" alt="">
            </a>
            <button class="navbar-toggler collapsed buttonNav" type="button" data-toggle="collapse"
                    data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</header>
<main role="main">
    <section class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel4 active"></div>
                <div class="carousel-item carousel5"></div>
                <div class="carousel-item carousel6"></div>
                <div class="carousel-item carousel7"></div>
                <div class="carousel-item carousel8"></div>
                <div class="carousel-item carousel9"></div>
                <div class="carousel-item carousel10"></div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="jumbotron text-center space">
        <div class="container">
            <h1>De terapia ocupacional a explosion de creatividad</h1>
            <p class="lead text-muted"> Annk Creations surgió como un hobby durante un periodo de recuperación de una
                lesión, alla por el 2016. Mucho antes había incursionado en la confección de manillas de hilo y por poco
                le acabo con los carretes a mi bella abuela, que en aquel momento aun ejercía sus dotes de costurera y
                artista de la remodelación</p>

            <p class="lead text-muted"> Con el paso del tiempo me fueron llegando ideas a la mente y tratando de
                reproducirlas con los
                materiales que tenia a mano, hilos en desuso, alambres sobrantes de algún arreglo en casa, cuentas,
                pudieras y adornos de collares o ropas ya desechas, en fin, con todo lo que pude reciclar y reutilizar.
                De todo eso salieron los primeros atrapasueños, manillas, lámparas de cartón, portarretratos, porta
                velas y demás artículos</p>

            <p class="lead text-muted">Ahora, con el paso de los anos, el cambio de localidad, el aumento de las
                posibilidades y de las
                opciones decidí que en medio de este periodo de pandemia sería muy productivo retomar el trabajo manual
                y gracias a los feedbacks recibidos de amigos y familiares se fue creando de a poco este proyecto que
                tiene como objetivo principal brindar a todos la oportunidad de lucir una prenda personalizada y hecha a
                la medida.</p>

            <p class="lead text-muted">Solo tienes que soñarlo y nosotros nos encargamos de materializar tu sueño

            </p>


        </div>
    </section>

</main>


<footer id="footer">
    <div class="container">
        <p id="qod">La pregunta no es quien me lo va a permitir, sino quien me va a detener.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/annkorret/" target="_blank" class="instagram"><i class="fa fa-instagram"
                                                                                                aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/annkcreation00/?ref=page_internal" target="_blank" class="facebook"><i
                    class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="copyright">
            &copy;Copyright <strong><span>AnnK Creations</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
</body>
</html>
