<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="../img/icon.png" rel="icon" type="image/x-icon"/>

    <link rel='stylesheet' href='../css/gallery.css' type='text/css'/>
    <script type='text/javascript' src='../vendors/unitegallery/js/unitegallery.min.js'></script>

    <link rel='stylesheet' href='../vendors/unitegallery/css/unite-gallery.css' type='text/css'/>

    <script type='text/javascript' src='../vendors/unitegallery/themes/tiles/ug-theme-tiles.js'></script>

    <script src="../js/galeria.js"></script>
    <link href="../css/styles.css" rel="stylesheet">

    <title>AnnK creations</title>
</head>
<body>
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Nosotros</h4>
                    <p class="textMuted">Comenzamos hace 4 años nuestro sueño de hacer felices a las personas con
                        pequeños detalles y asi hacer realidad sus sueños.
                        <a href="aboutus.html"> continuar leyendo</a>
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contactos</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/annkorret/" class="text-white">Siguenos en Instagram</a>
                        </li>
                        <li><a href="https://www.facebook.com/annkcreation00" class="text-white">Danos un Like en
                            Facebook</a></li>
                        <li><a href="../index.html#contact" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="../index.html" class="navbar-brand d-flex align-items-center">
                <img src="../img/logo.png" class="logo" alt="">
            </a>
            <button class="navbar-toggler collapsed buttonNav" type="button" data-toggle="collapse"
                    data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</header>
<main role="main">
    <section class="container page-section section space">
        <div class="container text-center">
            <h2>Galeria</h2>
        </div>
        <div id="gallery" style="display:none;">


            <img alt="Conjunto morado"
                 src="../img/conjuntomorado.jpg"
                 data-image="../img/conjuntomorado.jpg"
                 data-description="Conjunto morado"
                 style="display:none">

            <img alt="Llego el Verano"
                 src="../img/amarillito.jpg"
                 data-image="../img/amarillito.jpg"
                 data-description="Llego el Verano"
                 style="display:none">

            <img alt="Anillos"
                 src="../img/anilloazul.jpg"
                 data-image="../img/anilloazul.jpg"
                 data-description="Anillos"
                 style="display:none">

            <img alt="Atrapa Sueños Magic Moon"
                 src="../img/atrapaazul.jpg"
                 data-image="../img/atrapaazul.jpg"
                 data-description="Atrapa Sueños Magic Moon"
                 style="display:none">

            <img alt="Conjunto Llego el Verano "
                 src="../img/amarillo.jpg"
                 data-image="../img/amarillo.jpg"
                 data-description="Conjunto "
                 style="display:none">

            <img alt="Atrapa Sueños"
                 src="../img/ank.jpg"
                 data-image="../img/ank.jpg"
                 data-description="Atrapa Sueños"
                 style="display:none">

            <img alt="Atrapa Sueños Rosa"
                 src="../img/atraparosa.jpg"
                 data-image="../img/atraparosa.jpg"
                 data-description="Atrapa Sueños"
                 style="display:none">

            <img alt="Juntos por Siempre"
                 src="../img/conjuntopareja.jpg"
                 data-image="../img/conjuntopareja.jpg"
                 data-description="conjuntopareja"
                 style="display:none">

            <img alt=" Conjunto Verde Zig Zag"
                 src="../img/conjuntoverde.jpg"
                 data-image="../img/conjuntoverde.jpg"
                 data-description="Verde Esperanza"
                 style="display:none">

            <img alt="Llego el verano"
                 src="../img/amarillos.jpg"
                 data-image="../img/amarillos.jpg"
                 data-description="Llego el Verano"
                 style="display:none">

            <img alt="Annk Creations"
                 src="../img/logo.png"
                 data-image="../img/logo.png"
                 data-description="Annk Creations"
                 style="display:none">

            <img alt="Mandalas"
                 src="../img/mandala.jpg"
                 data-image="../img/mandala.jpg"
                 data-description="Mandalas"
                 style="display:none">

            <img alt="Atrapa Sueños"
                 src="../img/atrapasuenno.jpg"
                 data-image="../img/atrapasuenno.jpg"
                 data-description="Atrapa Sueños"
                 style="display:none">

            <img alt="Ya llego la Navidad"
                 src="../img/navidad.jpg"
                 data-image="../img/navidad.jpg"
                 data-description="Ya llego la Navidad"
                 style="display:none">

            <img alt="Mandalas"
                 src="../img/mandalas.jpg"
                 data-image="../img/mandalas.jpg"
                 data-description="Mandalas"
                 style="display:none">

            <img alt="Atrapa Sueños"
                 src="../img/atrapasuennoazul.jpg"
                 data-image="../img/atrapasuennoazul.jpg"
                 data-description="Atrapa Sueños"
                 style="display:none">

            <img alt="Pulsera"
                 src="../img/parahombre.jpg"
                 data-image="../img/parahombre.jpg"
                 data-description="Pulseras"
                 style="display:none">

            <img alt="Tobillera"
                 src="../img/tobillera.jpg"
                 data-image="../img/tobillera.jpg"
                 data-description="Tobillera"
                 style="display:none">

            <img alt="Atrapa Sueños"
                 src="../img/atrapasuennofin.jpg"
                 data-image="../img/atrapasuennofin.jpg"
                 data-description="Atrapa Sueños"
                 style="display:none">

            <img alt="Brazalete Celta"
                 src="../img/brazaletecelta.jpg"
                 data-image="../img/brazaletecelta.jpg"
                 data-description="Brazalete Celta"
                 style="display:none">

            <img alt="Llaveros Ganesha"
                 src="../img/llaverosganesha.jpg"
                 data-image="../img/llaverosganesha.jpg"
                 data-description="Llaveros Ganesha"
                 style="display:none">

            <img alt="Mandalas"
                 src="../img/mandalitas.jpg"
                 data-image="../img/mandalitas.jpg"
                 data-description="Mandalas"
                 style="display:none">

            <img alt="Porta Vasos"
                 src="../img/portavaso.jpg"
                 data-image="../img/portavaso.jpg"
                 data-description="Porta Vasos"
                 style="display:none">

            <img alt="Pulsera con Aros"
                 src="../img/pulseraconaros.jpg"
                 data-image="../img/pulseraconaros.jpg"
                 data-description="Pulsera con Aros"
                 style="display:none">

            <img alt="Conjunto Zig Zag"
                 src="../img/conjuntozigzag.jpg"
                 data-image="../img/conjuntozigzag.jpg"
                 data-description="Conjunto Zig Zag"
                 style="display:none">

            <img alt="Brazalete Celta Rojo"
                 src="../img/brazaleteceltarojo.jpg"
                 data-image="../img/brazaleteceltarojo.jpg"
                 data-description="Brazalete Celta Rojo"
                 style="display:none">

            <img alt="SeaHorse"
                 src="../img/caballito.jpg"
                 data-image="../img/caballito.jpg"
                 data-description="SeaHorse"
                 style="display:none">

            <img alt="Caracola"
                 src="../img/caracola.jpg"
                 data-image="../img/caracola.jpg"
                 data-description="Caracola"
                 style="display:none">

            <img alt="Conjunto"
                 src="../img/conjunto.jpg"
                 data-image="../img/conjunto.jpg"
                 data-description="Conjunto"
                 style="display:none">

            <img alt="Conjunto Celta Azul"
                 src="../img/conjuntoazul.jpg"
                 data-image="../img/conjuntoazul.jpg"
                 data-description="Conjunto Celta"
                 style="display:none">

            <img alt="Pulsera Madre Natura"
                 src="../img/pulseramadrenatura.jpg"
                 data-image="../img/pulseramadrenatura.jpg"
                 data-description="Pulsera Madre Natura"
                 style="display:none">

            <img alt="Conjunto Mariposa"
                 src="../img/conjuntosmariposa.jpg"
                 data-image="../img/conjuntosmariposa.jpg"
                 data-description="Conjunto Mariposa"
                 style="display:none">

            <img alt="Pulsera Mil y una Noches"
                 src="../img/pulseramilnoches.jpg"
                 data-image="../img/pulseramilnoches.jpg"
                 data-description="Pulsera Mil y una Noches"
                 style="display:none">

            <img alt="Recicla"
                 src="../img/recicla.jpg"
                 data-image="../img/recicla.jpg"
                 data-description="Recicla"
                 style="display:none">

            <img alt="Brazalete Ancho Dede"
                 src="../img/brazaleteanchodede.jpg"
                 data-image="../img/brazaleteanchodede.jpg"
                 data-description="Brazalete Ancho Dede"
                 style="display:none">

            <img alt="Brazalete Armband"
                 src="../img/brazaletearmband.jpg"
                 data-image="../img/brazaletearmband.jpg"
                 data-description="Brazalete Armband"
                 style="display:none">

            <img alt="Brazalete Daisy"
                 src="../img/brazaletedaisy.jpg"
                 data-image="../img/brazaletedaisy.jpg"
                 data-description="Brazalete Daisy"
                 style="display:none">

            <img alt="Brazalete Heart Looping"
                 src="../img/brazaleteheartlooping.jpg"
                 data-image="../img/brazaleteheartlooping.jpg"
                 data-description="Brazalete Heart Looping"
                 style="display:none">

            <img alt="Pulsera Zig Zag"
                 src="../img/pulserazigzag.jpg"
                 data-image="../img/pulserazigzag.jpg"
                 data-description="Pulsera Zig Zag"
                 style="display:none">

            <img alt="Anillo Celta Rojo"
                 src="../img/anillocelta.jpg"
                 data-image="../img/anillocelta.jpg"
                 data-description="Anillo Celta Rojo"
                 style="display:none">

            <img alt="Olas Griegas"
                 src="../img/olasgriegas.jpg"
                 data-image="../img/olasgriegas.jpg"
                 data-description="Olas Griega"
                 style="display:none">

            <img alt="Brazalete Celta"
                 src="../img/brazaleteceltanaranja.jpg"
                 data-image="../img/brazaleteceltanaranja.jpg"
                 data-description="Brazalete Celta"
                 style="display:none">

            <img alt="Collar de Hojas y Perlas"
                 src="../img/collarhojasyperlas.jpg"
                 data-image="../img/collarhojasyperlas.jpg"
                 data-description="Collar de Hojas y Perlas"
                 style="display:none">

            <img alt="Collar Tribal"
                 src="../img/collartribal.jpg"
                 data-image="../img/collartribal.jpg"
                 data-description="Collar Tribal"
                 style="display:none">

            <img alt="Collar Imperial"
                 src="../img/collarimperial.jpg"
                 data-image="../img/collarimperial.jpg"
                 data-description="Collar Imperial"
                 style="display:none">

            <img alt="Collar Espirales"
                 src="../img/collarespirales.jpg"
                 data-image="../img/collarespirales.jpg"
                 data-description="Collar Imperial"
                 style="display:none">

            <img alt="Colgantes con Perlas"
                 src="../img/colgantesconperlas.jpg"
                 data-image="../img/colgantesconperlas.jpg"
                 data-description="Colgantes con Perlas"
                 style="display:none">

            <img alt="Colgantes con Perla en Centro"
                 src="../img/colganteconperlaencentro.jpg"
                 data-image="../img/colganteconperlaencentro.jpg"
                 data-description="Colgantes con Perla en Centro"
                 style="display:none">

            <img alt="Aros Verdes"
                 src="../img/arosverdes.jpg"
                 data-image="../img/arosverdes.jpg"
                 data-description="Aros Verdes"
                 style="display:none">

            <img alt="Pulseras Griegas"
                 src="../img/pulserasgriegas.jpg"
                 data-image="../img/pulserasgriegas.jpg"
                 data-description="Pulseras Griegas"
                 style="display:none">

            <img alt="Brazalete Noble Lady"
                 src="../img/brazaletenoblelady.jpg"
                 data-image="../img/brazaletenoblelady.jpg"
                 data-description="Collar Imperial"
                 style="display:none">

            <img alt="Collar Celta Trikel"
                 src="../img/collarceltatrikel.jpg"
                 data-image="../img/collarceltatrikel.jpg"
                 data-description="Collar Celta Trikel"
                 style="display:none">

            <img alt="Collar Flor de Loto"
                 src="../img/collarflordeloto.jpg"
                 data-image="../img/collarflordeloto.jpg"
                 data-description="Collar Flor de Loto"
                 style="display:none">

            <img alt="Collar Mariposa"
                 src="../img/collarmariposa.jpg"
                 data-image="../img/collarmariposa.jpg"
                 data-description="Collar Mariposa"
                 style="display:none">

            <img alt="Collar cara de Zorro"
                 src="../img/collarcaradezorro.jpg"
                 data-image="../img/collarcaradezorro.jpg"
                 data-description="Collar cara de Zorro"
                 style="display:none">

            <img alt="Collar Mariposa"
                 src="../img/collarmariposas.jpg"
                 data-image="../img/collarmariposas.jpg"
                 data-description="Collar Mariposa"
                 style="display:none">

            <img alt="Aretes Hojas"
                 src="../img/areteshoja.jpg"
                 data-image="../img/areteshoja.jpg"
                 data-description="Aretes Hojas"
                 style="display:none">

            <img alt="Aros de Estacion"
                 src="../img/arosdeestacion.jpg"
                 data-image="../img/arosdeestacion.jpg"
                 data-description="Aros de Estacion"
                 style="display:none">

            <img alt="Collar y aretes Nudo Celta"
                 src="../img/collaryaretesnudocelta.jpg"
                 data-image="../img/collaryaretesnudocelta.jpg"
                 data-description="Collar y aretes Nudo Celta"
                 style="display:none">

            <img alt="Aretes Margarita"
                 src="../img/aretesmargarita.jpg"
                 data-image="../img/aretesmargarita.jpg"
                 data-description="Aretes Margarita"
                 style="display:none">

            <img alt="Manilla Triangulos"
                 src="../img/manillatriangulos.jpg"
                 data-image="../img/manillatriangulos.jpg"
                 data-description="Manilla Triangulos"
                 style="display:none">

            <img alt="Collar Celta"
                 src="../img/collarcelta.jpg"
                 data-image="../img/collarcelta.jpg"
                 data-description="Collar Celta"
                 style="display:none">
        </div>

        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery("#gallery").unitegallery();

            });

        </script>
    </section>

</main>


<footer id="footer">
    <div class="container">
        <p id="qod">La pregunta no es quien me lo va a permitir, sino quien me va a detener.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/annkorret/" target="_blank" class="instagram"><i class="fa fa-instagram"
                                                                                                aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/annkcreation00/?ref=page_internal" target="_blank" class="facebook"><i
                    class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="copyright">
            &copy;Copyright <strong><span>AnnK Creations</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
</body>
</html>
